body {
    margin: 0px;
    font-family: 'Lily Script One', cursive;
}

header img {
    max-width: 19vw;
    max-height: 17vh;
    margin-left: 1vw;
    position: relative;
    top: 2vh;
    border: black 2px solid;

}

header a {
    font-size: 5vh;
    color: white;
}

header a:hover {
    color: black;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: red;
    gap: 3vw;
    height: 15vh;
}

header #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    margin-left: 25vw;
    font-size: 20px;
    color: white;
}

header h1 {
    text-decoration: underline;
    width: 20vw;
    align-content: left;
    color: white;
    font-size: 5vh;
}

.nav-elements {
    position: relative;
    top: 4vh;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

section h1 {
    font-size: 6vh;
}

main {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.review-card {
    border: 1px black solid;
    margin: 2vh;
    padding: 2vw;
    max-width: 20vw;
    
}